@import "tailwindcss";
*{
  font-family: "DM Sans", sans-serif;
}
@theme{
  --font-display:"DM Sans", sans-serif;
  --font-secondary:'Satoshi', sans-serif;
  --color-primary:#0F100D;
  --color-secondary:#E95102;
  --color-brand:#FDECE3;
  --color-back:#F8F8F8;
  --color-gray:#E0E0E0;
  --color-border:#E6E6E6;
  --color-font-secondary:#E95102;
  --color-font-navbar:#646464;
  --color-font-white:#fff;
  --color-font-gray:#333333;
  --font-weight-large:900;
  --font-weight-lg:700;
  --font-weight-med:600;
  --font-weight-md:500;
  --font-weight-sm:400;
  --font-weight-small:300;
}
@layer utilities {
  .grid-qr {
    @apply grid grid-cols-2 gap-3;
  }

  .flex-qr {
    @apply flex flex-col gap-4;
  }
  .qr-code{
    @apply min-h-screen mt-12  flex items-center justify-center px-4 py-10;
  }
}